.editor-styleButton {
  color: black;
  cursor: pointer;
  margin-right: 16px;
  padding: 4px 0;
  display: inline-block;
}

.editor-activeButton {
  color: $green;
}

.editor-root {
  background: #fff;
  font-family: 'Georgia', serif;
  font-size: 16px;
  padding: 15px;
}

.editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.editor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
  border-bottom: 1px solid $grey;
  user-select: none;

  display: flex;
}

.inline-controls, .block-controls {
  padding-left: 16px;
}

.inline-controls {
  border-right: 1px solid $grey;
}
