.root {
  font-family: '\'Georgia\', serif';
  font-size: 14;
  padding: 20;
  width: 600;
}
.editor {
  border-top: '1px solid #ddd';
  cursor: 'text';
  font-size: 16;
  margin-top: 20;
  min-height: 400;
  padding-top: 20;
}
.controls {
  font-family: '\'Helvetica\', sans-serif';
  font-size: 14;
  margin-bottom: 10;
  user-select: 'none';
}
.styleButton {
  color: '#999';
  cursor: 'pointer';
  margin-right: 16;
  padding: '2px 0';
}

.red {
  color: rgba(255, 0, 0, 1.0);
}
.orange {
  color: rgba(255, 127, 0, 1.0);
}
.yellow {
  background: rgba(243,243,21, 1.0);
  // color: rgba(180, 180, 0, 1.0);
}
.green {
  color: rgba(0, 180, 0, 1.0);
}
.blue {
  color: rgba(0, 0, 255, 1.0);
}

.indigo {
  color: rgba(75, 0, 130, 1.0);
}
.violet {
  color: rgba(127, 0, 255, 1.0);
}
