.home-content {
  display: flex;
  height: 100vh;
}

.side-nav {
  width: 4vw;
}

.notes {
  position: relative;
  display: flex;

  width: 96vw;
}

.notes-index {
  flex: 2;
  max-width: 26vw;
  overflow-y: hidden;
}

.note-detail {
  flex: 5;
  background: white;
  overflow-y: auto;
}

.notes.detail-full-screen .notes-index {
  display: none;
}

.notebooks-index, .tags-index {
  width: 31vw;
}
