.home-content {
  display: flex;
  flex-wrap: wrap;
  height: 100%
}

.home-content footer {
  width: 100%
}

.side-nav {
  width: 4.9%;
}

.notes {
  width: 95%;
  display: flex;
}

.notes-index {
  width: 26.3%;
  z-index: 1;
}

.note-detail {
  flex: 73.6%;
  z-index: 2;
}
