.side-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $light-grey;
  border-right: 1px solid $grey;
}

.top-links, .center-links, .bottom-links {
  display: flex;
  flex-direction: column;
}

.top-links {
  padding-top: 80px;
  margin-bottom: auto;
}

.center-links {
  padding-left: 7px;
}

.bottom-links {
  padding-top: 10px;
  border-top: 1px solid $grey;
  margin-top: auto;
  padding-bottom: 80px;
}

.bottom-links button {
  background: inherit;
  color: green;
}

.side-nav i {
  padding: 10px;
  border-radius: 50%;
  font-size: 24px;
  color: $green;
}

.side-nav a {
  position: relative;
}

.side-nav a:hover i{
  font-size: 28px;
  background: $green;
  color: white;
}

.link-label {
  display: none;
  text-transform: uppercase;
}

.side-nav a:hover .link-label{
  z-index: 3;
  display: flex;
  align-items: center;
  position: absolute;
  left: 50px;
  top: 0;
  bottom: 0;
}

.side-nav a:hover .link-label i {
  font-size: 42px;
  background: rgba(0,0,0,0);
  padding: 0;
  border: 0;
  margin-right: -1.5px;
  border-radius: 0;
  color: $darkest;
}

.side-nav a:hover .link-label span {
  background: $darkest;
  color: white;
  padding: 5px;
  padding-right: 5px;
  border-radius: 10%;
  flex: 0 0 auto;
}
