.side-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $light-grey;
  border-right: 1px solid $grey;
}

.top-links {
  padding-top: 80px;
  margin-bottom: auto;
}

.center-links {
  padding-left: 7px;
}

.bottom-links {
  padding-top: 10px;
  border-top: 1px solid $grey;
  margin-top: auto;
  padding-bottom: 80px;
}

.bottom-links button {
  background: inherit;
  color: green;
}

.side-nav i {
  padding: 10px;
  border-radius: 50%;
  font-size: 20px;
  color: $green;
}

.side-nav i:hover {
  font-size: 24px;
  background: $green;
  color: white;
}
