.fullscreen-toggle {
  position: absolute;
  right: 15px;;
  top: 10px;
}

.note-form button {
  position: absolute;
  right: 50px;;
  top: 10px;
}

.note-detail {
  padding: 20px;
}

.note-title {
  padding-left: 15px;
  font-size: 28px;
  color: $greener;
  font-family: serif;
}
