.fullscreen-toggle {
  position: absolute;
  right: 15px;;
  top: 10px;
  font-size: 15px;
}

.note-detail > button {
  position: absolute;
  right: 50px;;
  top: 13px;

  display: none;
}

.note-detail {
  padding: 20px;
}

.note-title {
  width: 100%;

  padding-bottom: 15px;
  font-size: 28px;
  color: $greener;
  font-family: serif;
}

.note-errors {
  position: absolute;
  bottom: 5%;
  right: 45%;
  background: $error-red;
  color: white;

  font-size: 16px;
  border-radius: 4px;
  padding: 10px;
}

.loader {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 15%;
  right: 5%;
}

.loader i {
  font-size: 18px;
  color: $green;
}

.loader.saving {
    border: 6px solid $light-grey;
    border-top: 8px solid $green;
    animation: spin 2s linear infinite;
}

.loader.saving i {
  display: none;
}

.loader.saved {
  border: 6px solid $green;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
