.notebook-selector {
  position: relative;
  border-right: 1px solid $grey;
  padding-right: 16px;

  display: flex;
  align-items: center;
}

.notebook-selector-ul {
  z-index: 3;
  position: absolute;
  top: 100%;

  max-height: 400px;
  width: 350px;
  overflow-y: auto;

  background: white;
  border: 2px solid #e5e5e5;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.notebook-selector-header {
  height: 50px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.notebook-selector-header-text {
  font-size: 14px;
  color: $text-light;
  margin: 0 15px;
  padding-top: 15px;
}

.notebook-selector-item {
  height: 50px;
}

.notebook-selector-text {
  font-size: 14px;
  font-family: "Scope One", serif;
  color: $text-dark;
  height: 100%;
  margin: 0 15px;
  border-top: 1px solid $grey;

  display: flex;
  align-items: center;
}

.notebook-selector-item:hover {
  cursor: pointer;
  background: $green;
  color: white;
}

.notebook-selector-item:hover .notebook-selector-text {
  color:white;
  border-top: 1px solid $green;
}

.current-notebook .notebook-selector-text{
  color: $green;
}

.notebook-selector-btn {
	background-color: white;
	border: 0;
	color: black;
	font-weight: 300;
	padding: 0;
	border-radius: 0;
	transition: none;
	font-family: sans-serif;
	text-transform: none;
	font-size: 14px;
	text-align: left;

  display: flex;
  justify-content: space-around;
  padding: 3px;
}

.notebook-selector-btn:hover {
  background: inherit;
	color: $green;
}

.notebook-selector-btn i {
  color: $darker-grey;
  padding: 2px;
  margin-right: 4px;
}
