.object-form {
  flex-grow: 1;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.object-form-header {
  border-bottom: 1px solid $dark-grey;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.object-form-header i {
  font-size: 36px;
  color: $dark-grey;
}

.object-form-header-text {
  padding: 10px 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: $dark-grey;
}

.object-form input, .object-form .message {
  margin: 30px auto;
  font-size: 30px;
  font-weight: 200;
  text-align: center;
}

.object-form .message {
  color: $darkest;
}

.object-form .message .subject {
  font-weight: 700;
}

.object-form .message .dependents-message {
  font-size: 20px;
  margin: 20px auto;
}

.object-form input::placeholder {
  color: $dark-grey;
  opacity: 0.6;
}

.object-form-btns {
  width: 40vw;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;

  margin-bottom: 50px;
}

.object-form-btns button {
  flex-grow: 1;
  max-width: 40%;
  margin: 0 10px;
  border-radius: 5px;
}

.object-form .create-errors {
  right: 35%;
}

.cancel-btn {
  color: $darker-grey;
  background: #E5E5E5;
  border: 1px solid #E5E5E5;
}

.cancel-btn:hover {
  background: #D0D0D0;
}
