.splash-screen {
  display: flex;
  flex-direction: column;
  // background-image: asset-url('stanley-dai-242205.jpg');
  // background-size: cover;
}

.splash-screen nav {
  width: 100%;
  font-size: 24px;

  padding: 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  z-index: 2;
  background: white;
}

.splash-screen nav h1 {
  font-weight: 700;
  margin-left: 10px;
  text-transform: uppercase;
  color: $green;
  font-family: $sans-serif;
}

.splash-screen nav i {
  font-size: 42px;
  color: $darker-grey;
}

.splash-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $sans-serif;
}

.description-heading {
  font-size: 30px;
  font-weight: 300;
  color: white;
  // margin-top: 75px;
}

.description-message {
  font-size: 20px;
  color: white;
  font-weight: 300;
  margin: 20px 0;
}

.session-form{
  margin-top: 70px;
  position: relative;

  font-size: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 40vw;
}


.session-form input {
  background-color: white;
  font-size: 20px;
  width: 75%;

  text-align: center;
  border: 1px solid grey;
  border-radius: 2px;
  padding: 10px;
  margin: 5px;
}

.session-form a:hover {
  text-decoration: underline;
}

.session-btns {
  width: 85%;

  margin: 10px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.session-form button {
  flex-grow: 2;
  font-size: 16px;
  margin: 0 10px;
}

.session-errors {
  padding: 0;
  list-style: none;
}

.session-errors li {
  background-color: red;
  color: white;
  padding: 4px;
  margin: 5px 0;
}

.or-divider {
  margin-top: -40px;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.or-divider .text {
  padding: 10px;
}

.or-divider .line {
  min-width: 40%;
  min-height: 1px;
  background: rgba(255,255,255,0.6);
}

.session-form a {
  padding: 5px 10px;
  background: white;
  border: 2px solid $grey;
  border-radius: 7%;
  color: $darkest;
}

.splash-content {
  background-image: asset-url('fabian-irsara-92113.jpg');
  background-size: cover;
  padding: 75px;
}
