.splash-screen {
  display: flex;
  flex-direction: column;
  // background-image: asset-url('stanley-dai-242205.jpg');
  // background-size: cover;
}

.splash-screen nav {
  width: 100%;
  font-size: 24px;

  padding: 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  z-index: 2;
  background: white;
}

.splash-screen nav h1 {
  font-weight: 700;
  margin-left: 10px;
  text-transform: uppercase;
  color: $green;
  font-family: $sans-serif;
}

.splash-screen nav i {
  font-size: 42px;
  color: $darker-grey;
}

.splash-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $sans-serif;
}

.description-heading {
  font-size: 30px;
  font-weight: 300;
  color: white;
  // margin-top: 75px;
}

.description-message {
  font-size: 20px;
  color: white;
  font-weight: 300;
  margin: 20px 0;
  margin-left: -10px;
}

.splash-content {
  background-image: asset-url('fabian-irsara-92113.jpg');
  background-size: cover;
  padding: 75px;
}
