.tag-selector {
  display: flex;
  justify-content: space-around;
}

.tag-selector input {
  flex-shrink: 1;
}

.current-tags {
  display: flex;
}

.note-tag {
  padding: 3px;
  border: 1px solid $grey;
}

.note-tag i {
  font-size: 10px;
  padding: 2px;
  margin-left: 5px;
}

.note-tag i:hover {
  color: $green;
  cursor: pointer;
}
