.tag-selector {
  display: flex;
  justify-content: space-around;
}

.tag-selector input {
  flex-shrink: 1;
}

.current-tags {
  display: flex;
}

.current-tags li {
  padding: 3px;
  border: 1px solid $grey;
}
