.tag-selector {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 0 15px 0 10px;
}

.tag-selector > i {
  color: $darker-grey;
  padding: 2px;
  margin-right: 4px;
}

.tag-selector input {
  width: 10px;
}

.tag-selector input:focus::-webkit-input-placeholder {
    opacity: 0;
}

.tag-selector input:hover {
  cursor: pointer;
}

.tag-selector input:hover::-webkit-input-placeholder {
    color: $green;
}

.tag-selector input:focus {
  font-family: $serif;
  width: auto;
  cursor: text;
}

.tag-selector input:focus, .note-tag {
  margin: 5px;
  background: $grey;
  padding: 3px;
  border: 1px solid $dark-grey;
  border-radius: 2px;
}

.current-tags {
  display: flex;
}

.note-tag {
  font-family: $serif;

  margin: 5px;
  background: $grey;
  padding: 3px;
  border: 1px solid $dark-grey;
  border-radius: 2px;

  display: flex;
  align-items: center;
}

.note-tag i {
  font-size: 10px;
  padding: 2px;
  margin-left: 5px;
}

.note-tag i:hover {
  color: $green;
  cursor: pointer;
}
