.tags-index {
  font-family: $sans-serif;
  border-right: 1px solid $grey;
}

.tags-list {
  height: 83vh;
  overflow-y: auto;
}

.tags-index > header {
  position: relative;
  padding: 15px;
  border-bottom: 1px solid $grey;
}

.tags-index > header a {
  position: absolute;
  top: 9%;
  right: 5%;
}

.tags-index > header i {
  font-size: 20px;
  color: $darker-grey;
  padding: 3px;
}

.tags-list > li {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 30px;
}

.tag-index-item {
  margin: 10px 0;

  display: flex;
  align-items: center;
}

.tag-index-item a {
  position: relative;

  margin-right: 10px;
  padding: 5px 10px;
  background: $light-grey;
  border: 1px solid $text-light;
  border-radius: 3px;

  color: $darker-grey;
  font-size: 16px;
  font-family: $sans-serif;

  display: flex;
  justify-content: space-around;
}

.tag-index-item i {
  display: none;
  font-size: 16px;
}

.tag-index-item i:hover {
  color: $green;
  cursor: pointer;
}

.tag-index-item:hover {
  a {
    background: $green;
    color: white;
  }

  .tag-note-count {
    color: white;
  }

  i {
    display: block;
  }
}

.letter-label {
  color: $darker-grey;
  font-size: 18px;
  text-transform: uppercase;
}

.tags-by-letter-ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.tag-note-count {
  margin-left: 4px;
  color: $green;
}
